.skeleton {
  background-color: #dddbdd;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.2) 20%,
    hsla(0, 0%, 100%, 0.5) 60%,
    hsla(0, 0%, 100%, 0)
  );
  animation: shimmer 2s infinite;
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-selected-collection-bg {
  width: 100%;
  height: 100%;
}

.skeleton-trending-collection__img {
  width: 100%;
  height: 100%;
}

.skeleton__name {
  width: 150px;
  height: 18px;
  border-radius: 2px;
}

.skeleton__price {
  width: 80px;
  height: 18px;
  border-radius: 2px;
}

.skeleton-collection-img {
  width: 100%;
  height: 180px;
}

.skeleton__stat__label {
  width: 48px;
  height: 16px;
  border-radius: 4px;
}

.skeleton__stat__data {
  width: 80%;
  height: 16px;
  border-radius: 4px;
}

.skeleton-collection-header {
  width: 100%;
  height: 100%;
}

.skeleton-collection-info__description {
  width: 100%;
  height: 16px;
  border-radius: 4px;
}

.skeleton-collection-info__description2 {
  width: 70%;
  height: 16px;
  border-radius: 4px;
}

.skeleton-collection-info__detail__data1 {
  width: 58px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-collection-info__detail__data2 {
  width: 120px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-collection-info__detail__data3 {
  width: 132px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-collection-info__detail__data4 {
  width: 108px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-items__header__live {
  width: 52px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-items__header__results {
  width: 72px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-items__header__sort {
  width: 240px;
  height: 48px;
  border-radius: 8px;
}

.skeletom-item__img {
  width: 100%;
  height: 100%;
}

.skeleton-item__details__name {
  width: 80px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-item__details__price {
  width: 48px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-item__details__last-sale {
  width: 120px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-page__img__likes {
  width: 36px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-item-page__img {
  width: 100%;
  height: 100%;
}

.skeleton-item-page__collection {
  width: 140px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-item-page__name {
  width: 280px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-item-page__owner {
  width: 140px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-item-page__detial {
  width: 84px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-item-page__sale__header {
  width: 240px;
  height: 16px;
  border-radius: 4px;
}

.skeleton__item-page__sale__label {
  width: 84px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-item-page__sale__price {
  width: 152px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-item-page__sale__buttonns {
  width: 100%;
  height: 48px;
  border-radius: 12px;
}

.skeleton-recommended-items__header {
  width: 240px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-item__img {
  width: 100%;
  height: 100%;
}

.skeleton-item__details__name {
  width: 80px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-item__details__price {
  width: 48px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-item__details__last-sale {
  width: 120px;
  height: 16px;
  border-radius: 4px;
}

.skeleton-heading {
  height: 20px;
  width: 220px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.skeleton-recommended-items-footer__button {
  width: 120px;
  height: 24px;
  border-radius: 4px;
}
